ansible==2.7.9
ansible-modules-hashivault==3.16.2
apache-libcloud==2.4.0
awscli==1.16.132
azure==4.0.0
bigsuds==1.0.6
boto==2.49.0
cryptography==2.4.2
cs==2.5.8
datadog==0.27.0
docker==3.7.1
docker-compose==1.23.2
dopy==0.3.7
f5-sdk==3.0.20
GitPython==2.1.11
molecule==2.19.0
netaddr==0.7.19
pip==19.0.3
pysphere==0.1.7
python-consul==1.1.0
pyvmomi==6.7.1.2018.12
pywinrm==0.3.0
PyYAML==3.13
setuptools==40.8.0
shade==1.31.0
six==1.11.0
wheel==0.33.1
zabbix-api==0.5.3
